body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    letter-spacing: 0.02em;
    font-size: 16px;
    overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

div, p, form, input, a, span, button {
    box-sizing: border-box;
    margin: 0;
}

p {
    letter-spacing: 0.02em;
    line-height: 1.3em;
}

a, button, button:hover, button:focus, button:active, a:hover, a:active {
    text-decoration: none;
    outline: none;
	transition: all 0.5s ease;
    display: block;
}

.d-flex {
    display: flex;
}

button {
    background: transparent;
    border: none;
}

.btn {
    width: 150px;
    line-height: 28px;
    border: 1px solid #2d203f;
    font-size: 17px;
    background-color: #2d203f;
    color: #ffffffd4;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h1, h2 {
    font-size: 45px;
    font-weight: 700;
    color: #ffffffd4;
    text-align: center;
}

div, p, form, input, a, span, button {
    box-sizing: border-box;
    margin: 0;
}

/* ----- Header Styles ----- */
.nav-it {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.navbar-brand, .brand {
    text-transform: uppercase;
}

#header, #footer {
    background-color: #2d203f;
}

.auth-wrap a{
    color: rgba(255,255,255,.5);
}

.auth-wrap a:hover {
    color: rgba(255,255,255,.75);
}

.auth-wrap_login {
    margin-right: 10px;
}

/* ----- Footer Section ----- */

.brand {
    color: #ffffffd4;
    font-size: 1.25rem;
}

.link-footer {
    margin-top: 15px;
    text-align: right;
}

.footer {
    box-shadow: 1px 0px 10px rgba(0,0,0,0.5);
}

/* ----- Index Page ----- */
.index-section, .section-bg {
    background: rgb(125,20,159);
    background: -moz-linear-gradient(56deg, rgba(125,20,159,1) 0%, rgba(46,9,94,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(125,20,159,1) 0%, rgba(46,9,94,1) 100%);
    background: linear-gradient(56deg, rgba(125,20,159,1) 0%, rgba(46,9,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d149f",endColorstr="#2e095e",GradientType=1);
    box-shadow: inset -1px 5px 10px rgba(0,0,0,0.5);
    padding-bottom: 150px;
    padding-top: 250px;
    height: 100vh;
}

.main-title_bt {
    margin-bottom: 50px;
}

.index-buttons {
    display: flex;
    justify-content: center;}

.reading_btn {
    margin-right: 50px;
}

.reading_btn:hover, .write_btn:hover {
    background-color: transparent;
    border: 1px solid #ffffffd4;
    color: #fff;
}

/* -----Post Section ----- */

.post-figure {
    margin: auto;
}

.card {
    margin-bottom: 100px;
}

.section-bg_pt {
    padding-top: 100px;
}