body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    letter-spacing: 0.09em;
    font-size: 16px;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    overflow-x: hidden;
    height: 100%;
}

div, p, form, input, a, span, button {
    box-sizing: border-box;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.09em;
    line-height: 1.3em;
    /*color: rgba(255,255,255,.5);*/
    color: #000;
}

a, button, button:hover, button:focus, button:active, a:hover, a:active {
    text-decoration: none;
    outline: none;
	transition: all 0.5s ease;
    display: block;
}

.d-flex {
    display: flex;
}

button {
    background: transparent;
    border: none;
}

.btn {
    font-family: 'Roboto', sans-serif;
    width: 150px;
    line-height: 28px;
    font-size: 17px;
    font-weight: 700;
    border: none;
    color: #000;
}

.btn:hover {
    background: transparent;
    color: #000000;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.46);
    border-color: transparent;
    border-radius: 0px;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
    color: #000;
}

h1, h2 {
    font-size: 45px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

div, p, form, input, a, span, button {
    box-sizing: border-box;
    margin: 0;
}

.base_title_page {
    font-size: 40px;
    margin-bottom: 70px;
    text-align: left;
    text-transform: none;
    color: #000;
    border-bottom: 1px dotted;
    padding-bottom: 35px;
}

/* ----- Header Styles ----- */
.nav-it {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.navbar-brand, .brand {
    width: 100px;
}

.navbar-brand img {
    width: 90%;
}

#header, #footer {
    background-color: #2d203f;
}

.auth-wrap a{
    color: rgba(255,255,255,.5);
}

.auth-wrap a:hover {
    color: rgba(255,255,255,.75);
}

.auth-wrap_login {
    margin-right: 10px;
}


/* ----- Index Page ----- */
.index-section, .section-bg {
    background: rgb(125, 20, 159);
    background: -moz-linear-gradient(56deg, rgba(125, 20, 159, 1) 0%, rgba(46, 9, 94, 1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(125, 20, 159, 1) 0%, rgba(46, 9, 94, 1) 100%);
    background: linear-gradient(56deg, rgba(125, 20, 159, 1) 0%, rgba(46, 9, 94, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d149f", endColorstr="#2e095e", GradientType=1);
    box-shadow: inset -1px 5px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 150px;
    padding-top: 250px;
}

.index-section {
    flex: 1 0 auto;
}

.main-title_bt {
    font-size: 40px;
    margin-bottom: 50px;
}

.index-buttons {
    display: flex;
    justify-content: center;}

.reading_btn {
    margin-right: 50px;
}

.reading_btn:hover, .write_btn:hover {
    background-color: transparent;
    border: 1px solid #ffffffd4;
    color: #fff;
}

/* -----Post Section ----- */
.section-bg_pt {
    padding-top: 100px;
}

.post-main-title {

}

.post-wrap {
    margin-bottom: 100px;
    border-radius: 3px;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.18);
}


.post-wrap:hover {
    cursor: pointer;
}

.post {
    /*margin-bottom: 100px;*/
    justify-content: space-between;
    padding: 20px;
}

.post-text {
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.post-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #000;
}

.post-text_detail {
    margin-top: 20px;
    color: #000;
    font-size: 15px;
}

.post-published-date {
    color: #000;
    letter-spacing: 0.03em;
    font-weight: 300;
    margin-top: 15px;
    font-size: 14px;
}

.category-wrap {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.category-wrap a {
    display: inline-block;
    color: #4f1c96;
    font-weight: 700;
    margin-right: 10px;
    font-size: 14px;
}

.category-wrap a:hover {
    color: #4f1c96;
	transition: all 0.5s ease;
}

.category-title {
    color: #000;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
}
.btn-post {
    margin-top: auto;
    background: transparent;
    outline: 1px solid #4f1c96;
    /*border-color: */
    color: #000;
}

.post-img {
    margin-left: auto;
    width: auto;
}

.post-figure {
    margin: auto;
}

.post-figure img{
    border-radius: 3px;
}

.navbar-right {
    /*position: fixed;*/
    text-align: center;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.18);
    padding: 15px;
}

.last-post-wrap {
    margin-top: 20px;
    border-top: 1px solid #00000029;
    padding-top: 10px;
}

.last-post-title-wrap {
    font-size: 17px;
    text-transform: none;
    font-weight: 400;
}

.last-post-title {
    text-transform: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: left;
}

.last-post-wrap a:hover {
    color: #6117c6;
}

.post-published-date-last {
    text-align: left;
}

/* ----- Category List ----- */

.category-list {
    flex: 1 0 auto;
}


/* ----- Category detail Page ----- */

.category-section {
    /*background: #1f292e;*/
}

.base_title_page_category {
    color: #000;
}

/* ----- Footer Section ----- */

#footer {
    flex: 0 0 auto;
}

.brand {
    color: #ffffffd4;
    font-size: 1.25rem;
}

.link-footer {
    margin-top: 15px;
    text-align: right;
}

.footer {
    box-shadow: 1px 0px 10px rgba(0,0,0,0.5);
    padding-bottom: 10px;
    padding-top: 10px;
}