body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    letter-spacing: 0.02em;
    font-size: 17px;
    overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

div, p, form, input, a, span, button {
    box-sizing: border-box;
    margin: 0;
}

/* ----- Header Styles ----- */
.nav-it {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

/*Index Page*/


/*Post Section*/

.post-figure {
    margin: auto;
}

.card {
    margin-bottom: 100px;
}