{% extends 'blogengine/base.html' %}

{% block title %}
{{ block.super}}
{% endblock %}}

{% block content %}

<section class="main-section section-bg section-bg_pt">
    <div class="container">
        <div class="row">
            {% if posts %}
            {% for post in posts %}
            <div class="col-lg-6">
                <div class="card-wrap d-flex">
                        <div class="card" style="width: 22rem;">
                            {% if post.image %}
                            <figure class="post-figure">
                                <img src="{{MEDIA_URL}}{{ post.image.image_thumb.url }}" alt="" />
                            </figure>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
<!--                                <p class="card-text">{{ post.text|truncatewords:10  }}</p>-->
                                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать</a>
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>
                No posts.
            </p>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}