{% extends 'blogengine/base.html' %}

{% block title %}
{{ block.super}}
{% endblock %}}

{% block content %}

<section class="main-section section-bg section-bg_pt">
    <div class="container" role="main">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    {% if posts %}
                        {% for post in posts %}
                            <div class="col-lg-12">
                                <div class="post-wrap">
                                    <div class="post d-flex">
                                            <div class="post-text d-flex">
                                                <h5 class="post-title">{{ post.title }}</h5>
                                                <p class="post-text_detail">{{ post.text|truncatewords:20|safe }}</p>
                                                <div class="category-wrap">
                                                    {% for category in post.categories.all %}
                                                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                                                    {% endfor %}
                                                </div>
                                                <a href="{{ post.get_absolute_url}}" class="btn btn-primary btn-post">Читать</a>
                                            </div>
                                        <div class="post-img">
                                            {% if post.image %}
                                                <figure class="post-figure">
                                                    <img src="{{ MEDAI_URL }}{{post.image.image_thumb.url}}" alt="Image Post">
                                                </figure>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <p>
                        No Posts.
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navbar-right">
                            <h3 style="text-align: center; color: white">
                                Тут боковое меню
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}