{% extends 'blogengine/base.html' %}

{% block title %}
{{ block.super}}
{% endblock %}}

{% block content %}

<section class="main-section section-bg_pt">
    <div class="container" role="main">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="post-main-title base_title_page">
                    Список всех постов
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                {% include 'blogengine/includes/base_posts_list.html' %}
            </div>
            <div class="col-sm-4">
                {% include 'blogengine/includes/sidebar.html' %}
            </div>

        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

        </div>
    </div>
</section>

{% endblock %}